/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;800;900&display=swap');

:root {
  --mainBtn: rgb(77, 150, 169);
  --mainBtnHover: #71c0d4;
  --secondaryBtn: #855fb1;
  --secondaryBtnHover: #d9b8ff;
  --headings: #28283d;
  --text: #87879d;
}
/* GENERAL STYLES */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  font-family: 'Red Hat Display', sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: #fafafa;
}
h1,
h2 {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--headings);
  margin-bottom: 1.5rem;
  line-height: 48px;
}

/* BUTTONS */
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.btn {
  padding: 1rem 2.5rem;
  border-radius: 29px;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.btn span {
  color: #8fe3f9;
  margin-left: 3px;
}
.btn-primary {
  background-color: var(--mainBtn);
}
.btn-primary:hover {
  background-color: var(--mainBtnHover);
}
.btn-secondary {
  background-color: var(--secondaryBtn);
}
.btn-secondary:hover {
  background-color: var(--secondaryBtnHover);
}
/* HEADER AND HERO */
header {
  margin-top: 48px;
  margin-bottom: 54px;
}
header img {
  display: block;
  margin: 0 auto;
}

.hero-img {
  position: absolute;
  display: block;
  width: 110%;
  left: -20px;
  overflow: hidden;
}
.hero-info {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 0 1.5rem;
  margin-top: 250px;
  margin-bottom: 4rem;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--text);
}

/* NUMBER ICON */
.number-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.vertical-line {
  width: 1px;
  height: 84px;
  background-color: var(--text);
  opacity: 0.25;
}
.number-icon span {
  font-weight: 900;
  color: var(--text);
  padding: 14px 1rem;
  border: 1px solid rgb(135, 135, 157, 0.25);
  border-radius: 50%;
}
.two {
  margin-bottom: 0;
}
.two span {
  background-color: #fff;
  z-index: 55;
}

/* PICTURE GRID- */
.pic-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 4rem;
  padding: 0 1.5rem;
}
.pic-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* APP INFO SECTION */
.app-info-text {
  margin: 0 auto;
  text-align: center;
  padding: 0 1.5rem;
  margin-bottom: 4rem;
}
.app-info-text h4 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  color: var(--mainBtn);
  margin-bottom: 1.5rem;
}
.app-info-text h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.app-info-text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--text);
}

/* FOOTER */
.footer-pic-container {
  background-image: url('./assets/mobile/image-footer.jpg');
  background-size: cover;
  margin-top: -25px;
}
.footer-opacity {
  background-color: rgba(77, 150, 169, 0.9);
  color: #fff;
}

.footer-flex-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5.75rem 1rem;
  max-width: 80%;
}
.footer-flex-container h2 {
  font-size: 2rem;
  color: white;
  opacity: 1;
}

.footer-flex-container p {
  margin-bottom: 35px;
  color: #fff;
  opacity: 1;
}
.footer-flex-container span {
  color: #fff;
  font-weight: 400;
}

/* HIDE PICS ON MOBILE AND TABLET */
.hero-left-desktop,
.hero-right-desktop {
  display: none;
  visibility: hidden;
}

@media (min-width: 432px) {
  /* .hero-info {
    margin-top: 800px;
  } */
}

/* TABLET */
@media (min-width: 640px) {
  /* HEADER AND HERO */
  header {
    margin-bottom: 54px;
  }

  .hero-img {
    width: 110%;
    left: -30px;
  }

  .hero-info {
    max-width: 460px;
    margin-top: 450px;
  }
  .buttons-container {
    flex-direction: row;
  }
  .hero-info h1 {
    margin: 0 auto;
    font-size: 48px;
    width: 80%;
    margin-bottom: 1.5rem;
  }
  /* PICTURE GRID */
  .pic-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 0 2.5rem;
    margin-bottom: 3rem;
  }
  /* APP INFO SECTION */
  .app-info-text {
    width: 75%;
    padding: 0;
  }
  .app-info-text h2 {
    font-size: 2.5rem;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  /* FOOTER */
  .footer h2 {
    width: 50%;
  }
  .footer p {
    width: 65%;
  }
  .footer-pic-container {
    background-image: url('./assets/tablet/image-footer.jpg');
  }
  .footer-flex-container {
    padding-bottom: 4.125rem;
  }
}

/* DESKTOP */
@media screen and (min-width: 920px) {
  .container {
    max-width: 1600px;
    margin: 0 auto;
  }
  /* HEADER AND HERO */
  header {
    margin-top: 80px;
    margin-bottom: 6.75rem;
  }

  .hero-img {
    display: none;
    visibility: hidden;
  }

  .hero-left-desktop,
  .hero-right-desktop {
    display: block;
    visibility: visible;
    position: absolute;
    width: 30%;
    min-width: 200px;
    max-width: 450px;
    z-index: -5;
  }
  .hero-img-container {
    max-width: 1600px;
  }
  .hero-right-desktop {
    right: -35px;
  }
  .hero-left-desktop {
    left: -35px;
    top: 100px;
  }
  .hero-info {
    margin-top: 0;
    width: 40%;
    padding: 0;
    margin-bottom: 6.875rem;
    font-size: 18px;
  }
  .hero-info p {
    font-size: 18px;
  }

  .hero-info h1 {
    font-size: 4rem;
    line-height: 4rem;
    width: 100%;
  }
  /* PIC GRID */
  .pic-grid {
    padding: 0 10.3125rem;
    justify-content: center;
    gap: 1.875rem;
    margin-bottom: 5rem;
  }
  .pic-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    justify-self: center;
  }
  /* APP INFOR SECTION */
  .app-info-text {
    max-width: 540px;
  }
  .app-info-text h2 {
    font-size: 2.5rem;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  /* FOOTER  */
  .footer-pic-container {
    width: 100%;
    background-image: url('./assets/desktop/image-footer.jpg');
  }
  .footer-flex-container {
    width: 70%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-flex-container h2,
  .footer-flex-container p {
    width: auto;
    flex-basis: 30%;
    text-align: start;
    margin: 0;
  }
  .footer-flex-container .btn-secondary {
    margin-bottom: 0;
    width: 190px;
    height: 60px;
  }
}
